{% extends "base_generic.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% load django_select2_tags %}

{% block doctype %}{% endblock %}
{% block title %} - Alignment view for CSRs of {{count}} sample(s){% endblock %}

{% block head %}
<link href="{% static 'css/msa.min.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">
<link href="{% static 'css/dataTables.colReorder.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
<div class = "row"><div class = "col-md-12"><h2>Download Alignments</h2></div></div>
<div class = "row"><div class ="col-md-4"><a href = "{% url 'snp_download' jobj.id count %}">Download all (zip/fasta/vcf)</a></div></div>

<br />

<div class = "row"><div class = "col-md-12"><h2>View Alignment</h2></div></div>
<div class= "row col-md-12">Click on a file name to view alignment</div>
<br />
<br />
<div class = "row">
<div class = "col-md-6" id = "tbldat"></div>
  <div class = "col-md-4">
    <input type = "hidden", id = "disinfo", value = "" />
{% if jobj.single %}
    <input type="radio" name="clean" value="1" onclick = "draw($('#disinfo').val(), '{% url 'startjob' %}');" checked="checked" style = "display:none">
{% else %}
    <input type="radio" name="clean" value="1" onclick = "draw($('#disinfo').val(), '{% url 'startjob' %}');" checked="checked">Post trimming<br />
    <input type="radio" name="clean" value="0" onclick = "draw($('#disinfo').val(), '{% url 'startjob' %}');" >Pre trimming
{% endif %}
  </div>
</div>

<br /><br /><br />
<div class = "row"><div class = "col-md-12" id = "msaParent"></div></div>
<br />
<div class = "row"><div class = "col-md-12" id = "snpParent"></div></div>
<br />

{% import_django_select2_js_css %}
<script type="text/javascript" src="{% static 'js/msa.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/alnview.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery/dataTables.colReorder.js' %}"></script>
<script type="text/javascript">$(document).ready(function(){buildAlignSelector( JSON.parse('{{tally|safe}}'), "{{jobj.id}}", "{{prefix}}", "{% url 'startjob' %}");});</script>
{% endblock %}
